<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq2Sql.Properties.Settings.TestDatabaseConnectionString"
            connectionString="Data Source=MARCUSHOME;Initial Catalog=TestDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>